<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta id="user_data" data-username="{{ username }}">
    <title>WhatsApp Clone</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="icon" href="data:;base64,=">
</head>

<body>
    <div id="all">
        <div id="chat_list">
            <div id="bar">
                <div id="up">
                    <div id="up1">
                        <button id="profile_button" onclick="">{{ username }}</button>
                    </div>
                    <div id="up2">
                        <button id="new_chat" onclick="chatpopFn()"><i class="fa-regular fa-comment fa-2x"></i></button>
                        <button id="new_group" onclick="grouppopFn()"><i class="fa-regular fa-comments fa-2x"></i></button>
                        <button id="logout"><a href="/whatsapp_clone/logout/"><i class="fa-solid fa-arrow-right-from-bracket fa-2x"></i></a></button>
                    </div>
                </div>
                <div id="down">
                    <form action="" method="post" id="chat-search-form">
                        <div id="chat-search">
                            <i class="fa-solid fa-magnifying-glass fa" style="color: #1f1f21bd; margin-left: 5px;"></i>
                            <input type="text" name="" id="chat-search-bar" placeholder="  Search chats">
                        </div>
                    </form>
                </div>
            </div>
            <ul id="scroll">
                {% for chat, hash in combined_list %}
                    <button class="chat">
                        <div class="chat-div">
                            <div class="chat-div-div">
                                <i class="fa-solid fa-user-group fa-lg" id="icon" style="margin: 2px;"></i>
                            </div>
                            <p id="CHAT_NAME" style="margin-left: 10px;">{{ chat }}</p>
                            <p id="CHAT_HASH" hidden>{{ hash }}</p>
                        </div>
                    </button>
                {% endfor %}
            </ul>
        </div>
        <div id="chat_history">
            <img src="{% static 'whatsapp-icon.png' %}" alt="" id="image">
        </div>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}


        <div id="overlay"></div>
        <form action="" method="post" id="new_chat_popup">
            {% csrf_token %}
            <p style="margin-block-start: 5px;margin-block-end: 0px;font-size: 140%;">New Chat</p>
            <p>Username: <input type="text" name="" id="new_chat_username"></p>
            <div id="chat_popup_btns">
                <input id="close" type="button" name="submit" value="Close" onclick="closechatFn();"/>
                <input id="submit" type="button" name="submit" value="Start chat" onclick="newchatFn();"/>
            </div>
        </form>

        <form action="" method="post" id="new_group_popup">
            {% csrf_token %}
            <p style="margin-block-start: 5px;margin-block-end: 0px;font-size: 140%">New Group</p>
            <p>Group name: <input type="text" name="" id="new_group_groupname"></p> 
            <p>Members: <input type="text" name="" id="new_group_members" style="margin-left: 21px;"></p>
            <div id="group_popup_btns">
                <input id="close" type="button" name="submit" value="Close" onclick="closegroupFn();"/>
                <input id="submit" type="button" name="submit" value="Create group" onclick="newgroupFn();"/>
            </div>
        </div>
    </div>

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/ejs@3.1.6/ejs.min.js"></script>
    {% load static %}
    <script src="{% static 'index.js' %}"></script>
</body>

</html>