<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <title>Login</title>
</head>
<body>
    <form method="post" action="" novalidate id="form">
        <h2 id="heading">Login</h2>
        {% csrf_token %}
        <p>
            {{ form.username.label }} <br>
            {{ form.username }} <br>
            {% if form.username.errors %}
                {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            {% endif %}
        </p>
        <p>
            {{ form.password.label }} <br> 
            {{ form.password }} <br>
            {% if form.password.errors %}
                {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            {% endif %}
        </p>
        <input type="submit">
        <p>Don't have an account? <a href="/whatsapp_clone/register/">Register</a></p>
        
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </form>
</body>
</html>